html{
    position: fixed;
    margin: 0;

}
body{
    background-color: beige;
    padding: 40px;
    align-content: center;
}
.calculator{
    padding: 50px;
    text-align: center;
    background-color: burlywood;
    border-radius: 10px;
}
h1{
    background-color: wheat;
    border-radius: 5px;
    padding: 10px;
}

input{
    height: 20px;
    width: 60px;
    border: solid black 1px;
}
button{
    padding: 7px;
    border: solid  1px;
    border-radius: 7px;
}
form{
    position: static;
    font-family: cursive;
    padding: 20px;
}
#Weight-Guides{

    background-color: bisque;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
}



button {
  background-color: #e0ae52;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: cursive;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button {
  outline: 0;
}

button {
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

button{
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}