html{
    margin: 0;
}
body{
    align-content: center;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 200px;
    position: absolute;
}
#banner{
    padding-top: 200px;
    padding-bottom: 20px;
    font-family: cursive;
    font-size: large;
}
#clock{
    font-size: x-large;
    font-family: cursive;
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(184, 126, 51) 2px;
}
